<div class="container">
  <h1>SpaceX Searching App</h1>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search..."
      aria-label="Search"
      aria-describedby="basic-addon2"
      (input)="updateSearchTerm($event)"
    />
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
      Search
    </button>
  </div>
  <div class="cardContainer">
    <div
      class="card"
      style="width: 18rem"
      *ngFor="let item of PaginatedData; let index = index"
    >
      <img [src]="item.images.large[0]" class="card-img-top h-50" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <h5 class="card-title">{{ item.region }}</h5>
        <a [href]="item.wikipedia" class="btn btn-primary" target="_blank"
          >Wikipedia</a
        >
        <ul>
          <li *ngFor="let launchId of item.launches.slice(0, 2)">
            {{ launchId }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <app-pagination
    [itemsPerpage]="itemsPerPage"
    [currentPage]="currentPage"
    [totalItems]="filteredData.length"
    *ngIf="filteredData.length > 0"
    [receivedData]="data"
    (onClick)="changePage($event)"
  ></app-pagination>

  <select
    class="form-select w-50"
    aria-label="Default select example"
    (change)="onChangeItemsPerPage($event)"
  >
    <option selected value="5">Five</option>
    <option value="4">Four</option>
    <option value="3">Three</option>
    <option value="2">Two</option>
    <option value="1">One</option>
  </select>
</div>
